@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
	/* list-style: none; */
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body{
	background: rgb(204, 204, 205);
}
hr{
    border: 1px solid #966919;
    border-radius: 5px;
    color: #966919;;
}
.wrapper .sidebar{
	background: #966919;
	position: fixed;
	top: 0;
	left: 0;
	width: 225px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
    overflow: auto;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #513301; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3a2601; 
  }

.wrapper .sidebar .profile{
	margin-bottom: 30px;
	text-align: center;
}

.wrapper .sidebar .profile img{
	display: block;
	width: 170px;
	height: 170px;
    border-radius: 50%;
	margin: 0 auto;
}

.wrapper .sidebar .profile h2{
	color: #ffffff;
	margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
	color: rgb(255, 237, 219);
	font-size: 14px;
}

.wrapper .sidebar ul li a{
	display: block;
	padding: 13px 30px;
	border-bottom: 1px solid #10558d;
	color: rgb(241, 237, 237);
	font-size: 16px;
	position: relative;
}

.wrapper .sidebar ul li a .icon{
	color: #dee4ec;
	width: 30px;
	display: inline-block;
}

 

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li .active{
	color: #966919;

	background:white;
    border-right: 2px solid #966919;
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
	color: #966919;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
	display: block;
}

.wrapper .section{
	width: calc(100% - 225px);
	margin-left: 225px;
	transition: all 0.5s ease;
}

/* .wrapper .section .top_navbar{
	background: rgb(7, 105, 185);
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 30px;
 
}

.wrapper .section .top_navbar .hamburger a{
	font-size: 28px;
	color: #f4fbff;
}

.wrapper .section .top_navbar .hamburger a:hover{
	color: #a2ecff;
} */

 .wrapper .section .container{
	margin: 30px;
	background: #fff;
	padding: 50px;
	line-height: 28px;
    border-radius: 8px;
}

body.active .wrapper .sidebar{
	left: -225px;
}

body.active .wrapper .section{
	margin-left: 0;
	width: 100%;
}
.aboutme{
    float: left;
    width: 50%;
}
.container:after {
    content: "";
    display: table;
    clear: both;
  }

.aboutme table{
    width: 100%;
    text-align: left;
    padding-left: 2%;
    /* border-collapse: separate; */
    border-spacing: 30px 1px;
}

.skills{
    float: left;
    width: 50%;
}
.skill_container:after {
    content: "";
    display: table;
    clear: both;
  }

.skills table{
    width: 50%;
    text-align: left;
	margin-left: 5%;
    /* padding-left: 2%; */
    /* border-collapse: separate; */
    /* border-spacing: 10px 1px; */
}
.skills table ul{
    padding-left: 10%;

}
.skills progress {
	/* display:inline-block; */
	width:190px;
	height:20px;
	padding:5px 0 0 0;
	margin:0;
	background:none;
	border: 0;
	border-radius: 15px;
	text-align: left;
	position:relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}
.skills progress::-webkit-progress-bar {
	height:11px;
	width: 100%;
	margin:0 auto;
	background-color: #CCC;
	border-radius: 15px;
	box-shadow:0px 0px 6px #777 inset;
}
.skills progress::-webkit-progress-value {
	/* display:inline-block; */
	float:left;
	height:11px;
	/* margin:0px -10px 0 0; */
	background: #F70;
	border-radius: 15px;
	box-shadow:0px 0px 6px #666 inset;
}
.projects_container .projects{
	margin-left: 5%;
}
